* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}

body {
    background: url('/VNT-Restaurant/public/images/background/login-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.login-box {
    position: relative;
    width: 420px;
    background: #fff;
    padding: 35px 40px;
    border-radius: 18px;
    z-index: 10;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.login-box img.logo {
    display: block;
    width: 140px;
    margin: 0 auto 10px auto;
}

.title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: #0070F4;
    font-weight: bold;
    background: rgba(0, 112, 244, 0.12);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 6px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.login-error {
    margin: -6px 0 14px;
    color: #bd0f21;
    background: rgba(239, 60, 77, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(239, 60, 77, 0.2) !important;
    padding: 8px 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.login-error::before {
    content: "!";
    margin-right: 8px;
    font-size: 16px;
    color: #ef3c4d;
}

.forgot {
    text-align: right;
    margin-top: -8px;
    margin-bottom: 15px;
}

.forgot a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.btn-box {
    display: flex;
    gap: 15px;
}

.btn {
    flex: 1;
    padding: 12px 0;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.btn-manage { 
    background: #0069ff; 
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-manage:hover {
    opacity: 0.9;
}

.btn-sale { 
    background: #04b04f; 
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-sale:hover{
    opacity: 0.9;
}

.bottom-contact {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    z-index: 5;
}
